.wrapper {
    max-width: 500px;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    color: var(--text-secondary);
}

.features {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.features div {
    background: rgba(255,255,255,0.5);
    padding: 10px 14px;
    border-radius: 10px;

    backdrop-filter: blur(10px);

    border: 1px solid rgba(255,255,255,0.3);

    transition: 0.2s;
}

.features div:hover {
    transform: translateX(5px);
}